server:
  name: 'alerter1'
  # sets the interval of queries to elasticsearch in seconds
  query_interval: 30
  fix_no_change: True

vk:
  access_token: ""
  group_id: ""

es:
  host: "http://es:9200"
  index: 'vk-adm-check'

tg:
  api_key: ""
  chat_id: ""

logger:
  log_level: 'debug' #debug, info, warning, error
  log_file: 'main.log'
  #pls don't change
  log_dir: 'logs/'